body{
    margin:0;
    padding: 0;
    background:url(background.jpg);
    background-size:cover;
    background-position: center;
    font-family:sans-serif;

}
.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px;
}
.wbackground{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:calc(30% -30px);
    
}