<div class="plan">
    <h3 class="plan-title">
      Alto
    </h3>
    <div class="plan-cost"><span class="plan-price">Rs.6500</span><span class="plan-type">/ Monthly</span></div>
    <ul class="plan-features">
      <li><i class="ion-checkmark"> </i>Manual Transmission</li>
      <li><i class="ion-checkmark"> </i>
30 Minutes Daily</li>
      <li><i class="ion-checkmark"> </i>10 Days Driving</li>
      <li><i class="ion-checkmark"> </i>2 Mandatory Theoretical Classes</li>
      <li><i class="ion-checkmark"> </i>Driving Course Certificate</li>
    </ul>
    <div class="plan-select"><a class="btn-outline-sm page-scroll" href="">Select Plan</a></div>
  </div>