



    {% extends 'accounts/main.html' %}

{% block content %}


    <div id="content-container" class="container p-none" style="margin-top:200px">
        <div class="lgn-container col-lg-8">
            <h1>Login</h1>
    <p>Please login to continue.</p>
            <form id="login-form" class=".container" method="post"
                  action="{% url 'login' %}",>
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_username">Username</label></td>
                        <td><input id="id_username" name="username"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password"
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% for message in messages %}

                    <div class="alert alert-success alert-dismissible fade show">
                    <strong>Error! </strong>Incorrect user name or password
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>

                {% endfor %}
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match.
                        Please try again.
                    </p>
                {% endif %}
                <input type="submit" name="instructor" value="Instructor"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" name="student" value="Login"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>



{% endblock %}