
<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Sidebar 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static '/css/style.css' %}">
          <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">

  </head>
  <body>
		
		{% include 'accounts/side_navbar.html' %}

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">

        <h2 class="mb-4">Welcome {{user.name}}</h2>
          <hr>
        <!--h3>Select a plan to begin learning </h3-->
        {% if user.isRegistered is False%}
            <a class="btn-outline-sm page-scroll" href="{% url 'planSelection' %}">Select plan to Begin</a>
          <!--form action="{% url 'planSelection' %}" method="get">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="book_token" value="{{user}}">
            <input type="submit" class="btn-outline-sm page-scroll" value="Select Plan to begin" />
            </form-->
        {% else %}
            {% if user.plan == "PLan1" %}
                {% include 'accounts/basic.html' %}
            {% endif %}
            {% if user.plan == "Plan2" %}
                {% include 'accounts/standard.html' %}
            {% endif %}
            {% if user.plan == "Plan3" %}
                {% include 'accounts/premium.html' %}
            {% endif %}
        {% endif %}
        <!--a class="btn-outline-sm page-scroll" href="{% url 'planSelection' %}">Select plan to begin</a-->

      </div>
		</div>

    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js'%}"></script>
    <script src="{%static '/js/main.js'%}"></script>
  </body>
</html>