  <div class="plan">
    <h3 class="plan-title">
      Yaris 1.3
    </h3>
    <div class="plan-cost"><span class="plan-price">Rs.15000</span><span class="plan-type">/ Monthly</span></div>
    <ul class="plan-features">
      <li><i class="ion-checkmark"> </i>Automatic Transmission</li>
      <li><i class="ion-checkmark"> </i>30 Minutes Daily</li>
      <li><i class="ion-checkmark"> </i>10 Days Driving</li>
      <li><i class="ion-checkmark"> </i>2 Mandatory Theoretical Classes</li>
      <li><i class="ion-checkmark"> </i>Driving Course Certificate</li>
    </ul>
      <input type="submit" name="plan3" value="Select Plan"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />

  </div>